
:root {
    color-scheme: light dark;
    --black: #000;
    --dark: rgb(18, 17, 17);
    --less-dark: rgb(35, 76, 106);
    --highlight: rgb(69, 104, 130);
    --wild-color: rgb(37, 95, 56);
}

body {
    width: 320px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 6px;
    scroll-behavior: smooth;
    padding: 10px;
    font-family: system-ui;
    overflow-y: scroll;
    text-align: center;
    margin-right: 110px;
    margin-left: 110px;
}

#maincontainer {
    background-color: var(--dark);
    color: var(--text-color, #000);
    border: 1px solid var(--border-color, #ccc);
    padding: 10px;
    width: 300px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;  /* affects the whole container will need to be checked on later on */
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

#textbox {
    margin-top: 6px
}


ul {
    list-style-type: none;
    padding: 0%;
    margin: 0;
    width: 100%;
    /* text-align: center; */
    max-width: 300px;
   overflow-y: scroll;

}


#ListDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  /*  border: black dotted 1px;*/
  /*  max-width: 300px; */
}


.divUnit {
    display: flex;
    flex-direction: column;
    background-color: var(--less-dark);
    border: 2px solid var(--highlight);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 98%;
    overflow-y: scroll;
}

.name {
    padding: 3px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--highlight);
    overflow-x: hidden;
    
}

.code {
    padding: 5px;
    border-radius: 0px 0px 3px 3px;
    background-color: var(--less-dark);
    height: 20px;
    overflow-y: hidden; /* this needs to be changed */
    white-space: pre-wrap;
    overflow-x: hidden;
    color: var(--less-dark);
    transition: 0.3s;
}


/* .code:hover {
    padding: 5px;
    border-radius: 0px 0px 3px 3px;
    background-color: #161616;
    height: 100px;
    overflow-y: hidden;
    white-space: pre-wrap;
    overflow-x: hidden;
    color: white;
    transition: 0.2s;
} */


.previewDivUnit {
  display: flex;
  position: absolute;
  background-color: rgba(239, 232, 232, 0.87);
  width: 500px;
  border: black 1px solid;
  overflow: visible;
  height: fit-content;
  align-self: center;
  border-radius: 10px;
  text-align: start;
  white-space: pre-wrap;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 1rem;
}
 
.previewCopyButton {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15px;
  margin-top: 15px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  
}

.previewCopyButton:hover {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15px;
  margin-top: 15px;
  border: solid 1px black;
  border-radius: 3px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


.copybutton {
   background-color: var(--black);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #f4efef;
   border: 1px solid var(--wild-color);
   padding: 5px;
   margin-right: 5px;
   margin-left: 5px;
   margin-top: 2px;
   margin-bottom: 3px;
   border-radius: 5px;
}

.copybutton:hover {
   background-color: #f6f2f2;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #000000;
   margin-right: 5px;
   padding: 5px;
   margin-left: 5px;
   margin-top: 2px;
   margin-bottom: 3px;
   border: 1px solid var(--wild-color);
   border-radius: 5px;
   border: 1px solid var(--highlight);
}

.copybutton:active {
   background-color: #bab5b5;
   border: none;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #000000;
   margin-right: 5px;
   padding: 5px;
   margin-left: 5px;
   margin-top: 2px;
   margin-bottom: 3px;
   border: 1px solid black;
   border-radius: 5px;
}


.listbutton {
   background-color: var(--black);
   border: 1px solid var(--wild-color);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #f4efef;
   padding: 5px;
   margin-right: 5px;
   margin-left: 5px;
   margin-bottom: 8px;
   border-radius: 5px;
}



#codebox {
    background-color: var(--dark);
    color: #e0e0e0;
    border: 1px solid var(--wild-color);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#codebox:focus {
    background-color: var(--dark);
    outline: var(--highlight);
    color: #e0e0e0;
    border: 1px solid var(--highlight);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
