:root {
    color-scheme: light dark;
}

body {
    width: 320px;
    height: auto;
    margin-bottom: 15px;
    margin-top: 6px;
    padding: 10px;
    font-family: system-ui;
    overflow:hidden
    text-align: center;
   
}

#maincontainer {
    background-color: var(--bg-color, #fff);
    color: var(--text-color, #000);
    border: 1px solid var(--border-color, #ccc);
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

#textbox {
    margin-top: 6px
}


ul {
    list-style-type: none;
    padding: 0%;
    margin: 0;
    /* text-align: center; */



}

#ListDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: black dotted 1px;
}


.divUnit {
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 200, 200);
    border: 1px black solid;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    width: 100%;
}

.name {
    padding: 3px;
    border-radius: 3px 3px 0px 0px;
    background-color: rgb(215, 229, 229);
}

.code {
    padding: 5px;
    border-radius: 0px 0px 3px 3px;
    background-color: #fff;
    height: auto;
    white-space: pre-wrap;
    foreground-color: black;
}





